# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# FAISS / Vector DB Files
*.faiss
*.pkl

# Temporary Files
temp/
tmp/
*.tmp

# Cache
.cache/